<!--  このファイルはライセンスフリーです。ご自身の責任の下、ご自由にお使いください。 -->
<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <div class="item item-divider">
      Scrollで移動
    </div>
    <div class="button-bar">
      <a class="button button-small button-stable" ng-click="scrollToTop()">上に飛ぶ</a>
      <a class="button button-small button-positive" ng-click="scroolTo(0, 3300)">海に飛ぶ</a>
      <a class="button button-small button-calm" ng-click="scroolBy(500, 500)">右下に移動</a>
    </div>
    <div class="item item-divider">
      Zoom To(基準と比べてどれくらい) / Zoom By(今と比べてどれくらい)
    </div>
    <div class="button-bar">
      <a class="button button-small button-balanced" ng-click="zoomTo(0.5)">基準の半分</a>
      <a class="button button-small button-energized" ng-click="zoomTo(1.0)">基準</a>
      <a class="button button-small button-assertive" ng-click="zoomTo(2.0)">基準の2倍</a>
      <a class="button button-small button-royal" ng-click="zoomBy(0.5)">今の半分</a>
      <a class="button button-small button-dark" ng-click="zoomBy(2.0)">今の2倍</a>
    </div>
    <ion-scroll delegate-handle="scrollView" zooming="true" direction="xy"
        style="width: 5000px; height: 5000px">
      <div style="width: 20000px; height: 20000px;
        background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat">
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
